.title {
  color: #9c3687;
  font-family: sans-serif;
  text-align: center;
}

.form-input {
  border-radius: 5px;
  border: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #9c3687;
  width: 93%;
  margin-top: 10px;
  padding: 13px;
}

.form-input::placeholder {
  color: #9c3687;
}

.form-group button {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
}

.form-group button:hover {
  background-color: #7f1192;
}

#facebook {
  background-color: #385898;
}

#cadastrase {
  background-color: #a19ba0;
}

#entrar {
  background-color: #9c3687;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
  
  
  body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  }
  
  
  form {
  max-width: 300px;
  text-align: center;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  }
  
  
  h1 {
  color: #9c3687;
  margin: 0 0 30px 0;
  text-align: center;
  }
  
  
  img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 7%;
  background-image: url(../naruto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 300px;
  background-color: white;
  }
  
  
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  
  
  select {
  border-radius: 5px;
  border: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #9c3687;
  width: 93%;
  margin-top: 10px;
  padding: 13px;
  }
  
  
  select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
  }
  
  
  button {
  background-color: #7f1192;
  cursor: pointer;
  }
  
  
  fieldset {
  margin-bottom: 30px;
  border: none;
  }
  
  label {
  color: #7f1192;
  display: block;
  margin-bottom: 8px;
  box-sizing: border-box;
  }
  
  
  input {
  color:black;
  }
  
  
  .form-input {
  color: #9c3687;
  }
  
  #input-name {
    font-size: 50px;
  }
  
  input[type="submit"] {
   border: 0;
   margin: 0 auto;
   width: 170px;
   height: 30px;
   background-color: #cb33e6;
   color: white;
   font-size: 16px;
   margin-top: 10px;
   
  }
  
  input[type="submit"]:hover {
   border: 0;
   width: 200px;
   height: 35px;
   background-color:#50035e;
   margin-top: 10px;
   
  }
  
  
  
  @media screen and (max-width: 600px){
  .dado-single .paragrafo{
  padding-left: 5px;
  }
  .dado-single p{ 
  font-size: 16px;
  }
  }