body {
	font: 100% Lucida Sans, Verdana;
	line-height: 26px;
	width:400px;
  height: 200px;
	margin: auto;

}

.form-group button {
  width: 50%;
  margin-left: 70px;
  margin-top: 150px;
  padding: 20px 0;
  color: white;
  border: 1px solid transparent;
  border-radius: 90px;
}

.form-group button:hover {
  background-color: #7f1192;
  padding: 13px;
}

#avancar {
  background-color:#9c3687;
  }

.picture img{
    width: 90px;
    margin-top: 150px;
    margin-left: 120px;
  }

.pedido{
  font: 100% Lucida Sans, Verdana;
  font-size: 30px;
  margin-left: 30px;
}

.confirmado{
  font: 100% Lucida Sans, Verdana;
  font-size: 15px;
  margin-left: 30px;
}